<h1>Did you guess correctly?</h1>

#if ($userGuess == $userInput)
<h3>You are correct!</h3>
<h3>The correct answer was $userInput</h3>
#else
<h3>Sorry, that is incorrect!</h3>
<h3>The correct answer was $userInput</h3>
#end

<form action="/" medthod="get">
  <h4>Wanna make another puzzle?</h4>
  <button type="submit" class="btn btn-link">Back home</button>
</form>
